<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand">
    <img src="../../../assets/travel-ic.png" width="50" height="50" alt="travel icon">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="airports">Airports <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="airlines">Airlines <span class="sr-only"></span></a>
      </li>
    </ul>
    <div class="nav-item ml-auto">
      <a class="nav-link logout" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>