@import "bootstrap_overwrites";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Angular Material theme
@import "~@angular/material/theming";
@include mat-core();
$my-app-primary: mat-palette($mat-blue, 900);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-red, 700);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

//Import style sheets
@import "./navbar.scss";
@import "./airlines.scss";

.splash-screen {
  height: 100vh;
  .callback-bg {
    background: url("../assets/callback-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
  }
}

.page-headings {
  text-align: center;
  margin: 10px auto 0 auto;
  border-bottom: 2px solid #dcd7d7;
  max-width: 200px;
}

form {
  max-width: 700px;
  margin: auto;
}

// Angular Material
.mat-raised-button {
  &:focus {
    outline: none;
  }
}

mat-icon {
  &:hover {
    cursor: pointer;
  }
}

.invalid-feedback {
  display: unset;
}