<div class="container">
  <h3 class="page-headings">Update Airline</h3>

  <ng-container *ngIf="(airline$ | async) as airlines">
    <!--Update airline form-->
    <form class="w-100" [formGroup]="updateAirlineForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100">
        <input matInput placeholder="Airline name" formControlName="airline_name"
          [ngClass]="{ 'is-invalid': submitted && f.airline_name.errors }" value="{{ airlines[0].airline.name }}">
        <div *ngIf="submitted && f.airline_name.errors" class="invalid-feedback">
          <div *ngIf="f.airline_name.errors.required">Please type new airline name</div>
        </div>
      </mat-form-field>
      <ng-container *ngIf="(countries$ | async) as countries">
        <mat-form-field class="w-100">
          <mat-label>{{airlines[0].airline.country.name}}</mat-label>
          <mat-select formControlName="country_name" [(ngModel)]="selectedCountry"
            [ngClass]="{ 'is-invalid': submitted && f.country_name.errors }">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country.country_name }}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.country_name.errors" class="invalid-feedback">
            <div *ngIf="f.country_name.errors.required">Please select a country name</div>
          </div>
        </mat-form-field>
      </ng-container>
      <button mat-raised-button class="float-right mb-2" type="submit">Update</button>
      <a mat-raised-button class="float-right mb-2" routerLink="../../">Cancel</a>
    </form>
  </ng-container>
</div>